server:
  port: 8008

spring:
  application:
    name: notification-service

eureka:
  client:
    service-url:
      defaultZone: http://service-discovery:8761/eureka/

logging:
  level:
    com.healthcare: DEBUG

