server:
  port: 8001

spring:
  application:
    name: identity-service
  datasource:
    url: jdbc:postgresql:
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

jwt:
  secret: mySecretKeyForJWTTokenGenerationThatIsAtLeast256BitsLongForHealthcareSystem
  expiration: 86400000

eureka:
  client:
    service-url:
      defaultZone: http:
  instance:
    prefer-ip-address: true

logging:
  level:
    com.healthcare: DEBUG
    org.springframework.security: DEBUG



management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  metrics:
    export:
      prometheus:
        enabled: true

