server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: identity-service
          uri: lb:
          predicates:
          filters:
            - StripPrefix=1
        - id: patient-service
          uri: lb:
          predicates:
          filters:
            - StripPrefix=1
        - id: doctor-service
          uri: lb:
          predicates:
          filters:
            - StripPrefix=1
        - id: appointment-service
          uri: lb:
          predicates:
          filters:
            - StripPrefix=1
        - id: billing-service
          uri: lb:
          predicates:
          filters:
            - StripPrefix=1
        - id: room-service
          uri: lb:
          predicates:
          filters:
            - StripPrefix=1
        - id: equipment-service
          uri: lb:
          predicates:
          filters:
            - StripPrefix=1
        - id: notification-service
          uri: lb:
          predicates:
          filters:
            - StripPrefix=1
      default-filters:
        - DedupeResponseHeader=Access-Control-Allow-Credentials Access-Control-Allow-Origin
      globalcors:
        corsConfigurations:
            allowedOrigins: "*"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders: "*"
            allowCredentials: false

eureka:
  client:
    service-url:
      defaultZone: http:

management:
  endpoints:
    web:
      exposure:
        include: health,info,gateway,prometheus
  metrics:
    export:
      prometheus:
        enabled: true


