server:
  port: 8006

spring:
  application:
    name: room-service
  datasource:
    url: jdbc:postgresql://postgres-room:5432/healthcare_room
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

eureka:
  client:
    service-url:
      defaultZone: http://service-discovery:8761/eureka/

logging:
  level:
    com.healthcare: DEBUG

